[buildout]
package-name = collective.transmogrifier
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-3.3.x.cfg

[instance]
eggs =
    zope.testing
    Products.CMFCore
    ${buildout:package-name}

