[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone50.cfg

[versions]
collective.recipe.vscode = >=0.1.6

# Added by buildout at 2021-05-04 18:13:38.320530
alabaster = 0.7.12
collective.recipe.sphinxbuilder = 1.1
createcoverage = 1.5
pathtools = 0.1.2
pkginfo = 1.7.0
requests-toolbelt = 0.9.1

# Required by:
# Jinja2==2.8
MarkupSafe = 1.1.1

# Required by:
# zest.releaser==6.15.0
colorama = 0.4.4
